#nav-search{
    display: none;
}

#open-modal{
    position: fixed;
    height: 100vh;
    background: red;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-modal{
    display: none;
}

.detailed-tabled-stats{
    height: 90%;
    width: 75%;
    max-width: 830px;
    background-color: #fff;
}

.detailed-stats-image-container{
    height: 50%;
    position: relative;
}

.detailed-stats-image-container img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

#close{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.425);
    color: white;
    border: 1px solid white;
    padding: 0.5%;
}

.col-main-heading{
    font-weight: bold;
}

td{
    border-bottom: 1px solid black;
    padding: 2% 0;
    text-align: center;
}