#open-modal{
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000004a;
    z-index: 2;
}

#close-modal{
    display: none;
}

#modal-content{
    width: 85%;
    height: 70%;
    display: flex;
}

.player-view{
    width: 30%;
    height: 100%;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

.player-view img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#detailed-stats-container{
    width: 70%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}

#DetailedStatsHeading{
    text-align: center;
}

#player-name, #player-position, #player-age, #player-league, #player-nationality{
    width: 85%;
    margin: 0 auto;
}

.stat-view{
    height: 7.5%;
    margin: 2% auto;
    width: 85%;
    background: #dfdada87;
    border-radius: 10px;
}

.stat-description{
    display: flex;
    justify-content: space-between;
    height: 50%;
    padding: 0 1%;
}

.stat-bar{
    height: 50%;
    border-radius: 10px;
}

#close{
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0 0 0 / 29%);
    border-radius: 100%;
    color: white;
    border: 1px solid white;
    padding: 0.5%;
    font-weight: 600;
    cursor: pointer;
}

#statsChart{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*RESPONSIVE ACTIVITY*/
@media screen and (max-width: 500px) {
    #modal-content{
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    .player-view, #detailed-stats-container{
        width: 100%;
        height: 50%;
        font-size: 0.6rem;
    }

    .player-view img{
        object-fit: contain;
    }

    .stat-view{
        height: 10.5%;
        font-size: 0.7rem;
    }
}