/*Global Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10deg);
  }
  to {
    opacity: 1;
    transform: translate(0deg);
  }
}


/* ---  START STYLES --- */
#Homepage-main-container {
  background: #f3f3f3;
  animation: none;
}

/*Navbar Styles*/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000009c;
  color: #fff;
  z-index: 2;
}

#navbar-items {
  height: 80%;
  width: 90%;
  display: flex;
  gap: 50%;
}

.nav-logo {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
}

#nav-list-items {
  display: flex;
  list-style-type: none;
}

.list-item {
  margin: 0 3%;
}

@media screen and (max-width: 520px) {
  .nav-list{
    display: none;
  }
}

/*Intro Section Styles*/
#Intro-section {
  height: 400px;
  position: relative;
  color: #fff;
  background-color: #fff;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08274448;
}

.intro-homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s;
}

/*Article-Description Styles*/
#Article-summary-section {
  height: 400px;
  width: 90%;
  margin: 2% auto;
  background-color: #fff;
}

#Article-summary-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 100%;
  grid-gap: 2%;
  margin: 0 auto;
  padding: 2%;
  height: 100%;
  overflow: hidden;
  animation: fadeIn 0.75s;
}

.article-piece {
  height: 100%;
  overflow: hidden;
}

.PSL-logo-container {
  height: 10%;
}

.PSL-logo-img {
  display: block;
  width: 10%;
  height: 100%;
}

.article-image-container {
  height: 65%;
  margin: 1% 0;
}

.article-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.article-paragraph-intro {
  font-size: 0.8em;
}

.article-service-description{
    position: relative;
}

.article-service-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-service-paragraph {
  margin-top: 2%;
}

@media screen and (max-width: 375px) {
  #Article-summary-container{
    grid-gap: 32% !important
  }
}

/*Analytics Summary section styles*/
#Analytics-service-summary-section {
  height: 400px;
  width: 90%;
  margin: 2% auto;
  background-color: #fff;
}

#Analytics-summary-container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 100%;
  grid-gap: 2%;
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  height: 100%;
  min-width: 700px;
  max-width: 965px;
  overflow: hidden;
  animation: fadeIn 0.75s;
}

.analytics-piece {
  border-radius: 50px;
}

.player-analytics {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px dotted black;
  border-radius: 100%;
}

.analytics-service-description {
  position: relative;
}

.analytics-service-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/*LiveStream Section Styles*/
#LiveStream-section {
  margin: 2% auto;
  padding: 2%;
  background-color: #fff;
}

#LiveStream-Talk-heading {
  text-align: center;
}

.live-stream-container {
  text-align: center;
}

.fa-spotify {
  font-size: 4em;
  color: #1ed15f;
}



/*Footer Styling*/
footer{
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2%;
}

#footer-list{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  list-style-type: none;
}

/*Responsive activity*/

@media screen and (max-width: 700px) {
  #Homepage-main-container {
    background: #fff;
    animation: none;
    height: 100%;
  }

  #Intro-section {
    height: 60%;
    position: relative;
    color: #fff;
  }

  #Article-summary-section {
    height: 100%;
  }

  #Article-summary-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50%;
    grid-gap: 10%;
    margin: 0 auto;
    padding: 2%;
    height: 100%;
    overflow: hidden;
    animation: fadeIn 0.75s;
  }

  #Analytics-service-summary-section {
    height: 100%;
  }

  #Analytics-summary-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    grid-gap: 1%;
    width: 90%;
    margin: 0 auto;
    padding: 2% 0;
    height: 100%;
    min-width: 50%;
    max-width: 90%;
    overflow: hidden;
    animation: fadeIn 0.75s;
  }

  .player-analytics {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px dotted black;
    margin: 0 auto;
  }
}
