/*Global Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10deg);
  }

  to {
    opacity: 1;
    transform: translate(0deg);
  }
}

/* ---  START STYLES --- */
html{
  font-size: 16px;
}

#Homepage-main-container {
  animation: none;
  height: 100%;
  background: #fff;
  color: #000;
  line-height: 1.5;
  font-weight: lighter;
}

/*Intro Section Styles*/
#Intro-section {
  height: 80%;
  position: relative;
  color: #fff;
  background-color: #fff;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #474bff;
  background: linear-gradient(79deg, #474bff 30%, #bc48ff 71%);
  opacity: 0.2;
}

.intro-homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro-description {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1.5s;
  text-align: left;
}

#intro-description h1{
  font-size: 0.7rem;
  z-index: 1;
}

#intro-description p{
  font-size: 0.7rem;
  width: 100%;
  text-align: left;
  z-index: 1;
}

.cont {
  color: #fff;
  background: #1e1d32;
}

/*Article-Description Styles*/
#Article-summary-section {
  background: #fff;
  color: #000;
}

#Article-summary-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
  animation: fadeIn 0.75s;
  font-size: 1.1rem;
}

.article-piece {
  display: grid;
}

.PSL-logo-img {
  display: block;
  width: 10%;
  height: 100%;
}

.article-image-container {
  margin: 1% 0;
}

.article-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.article-paragraph-intro {
  font-size: 0.8em;
}

.article-service-description {
  display: grid;
}

.article-service-container {
  width: 100%;
  padding: 0 2%;
}

.article-service-paragraph {
  margin-top: 2%;
}

/*Analytics Summary section styles*/
#Analytics-service-summary-section {
  background: #fff;
  color: #000;
  font-size: 1.1rem;
}

#Analytics-summary-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
  animation: fadeIn 0.75s;
}

.analytics-piece {
  border-radius: 50px;
}

.player-analytics {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.analytics-service-description {
  position: relative;
}

.analytics-service-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 2%;
}

/*LiveStream Section Styles*/
#LiveStream-section {
  padding: 2%;
  background-color: #000000e8;
  color: #fff;
}

#LiveStream-Talk-heading {
  text-align: center;
}

.live-stream-container {
  text-align: center;
}

.fa-spotify {
  font-size: 4em;
  color: #1ed15f;
}

/*Responsive activity*/
@media screen and (max-width: 700px) {
  #Homepage-main-container {
    animation: none;
    height: 100%;
  }

  #Intro-section {
    height: 60%;
    position: relative;
    color: #fff;
  }

  #Article-summary-container, #Analytics-summary-container {
    display: grid;
    grid-template-columns: none;
    margin: 0 auto;
    padding: 2%;
    animation: fadeIn 0.75s;
  }

  .article-service-container {
    padding: 0;
  }

  .article-piece {
    display: grid;
  }

  .article-service-description, .analytics-service-description {
    position: static;
  }

  .article-service-container, .analytics-service-container{
    position: static;
    transform: none;
    width: 100%;
  }

  .player-analytics {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }
}
