/*Global Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10deg);
  }

  to {
    opacity: 1;
    transform: translate(0deg);
  }
}

/* ---  START STYLES --- */
#Homepage-main-container {
  animation: none;
  height: 100%;
}

/*Intro Section Styles*/
#Intro-section {
  height: 400px;
  position: relative;
  color: #fff;
  background-color: #fff;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08274448;
}

.intro-homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s;
}

.cont {
  background: #00ff79;
  background: -webkit-linear-gradient(0deg, #00ff79 0%, #08c0e3 100%);
  background: linear-gradient(0deg, #00ff79 0%, #08c0e3 100%);
  color: #fff;
  padding-top: 2%;
}

/*Article-Description Styles*/
#Article-summary-section {
  width: 90%;
  margin: 2% auto;
  background-color: #ffffff75;
}

#Article-summary-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
  animation: fadeIn 0.75s;
}

.article-piece {
  display: grid;
}

.PSL-logo-img {
  display: block;
  width: 10%;
  height: 100%;
}

.article-image-container {
  margin: 1% 0;
}

.article-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.article-paragraph-intro {
  font-size: 0.8em;
}

.article-service-description {
  position: relative;
  display: grid;
}

.article-service-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.article-service-paragraph {
  margin-top: 2%;
}

/*Analytics Summary section styles*/
#Analytics-service-summary-section {
  width: 90%;
  margin: 2% auto;
  background-color: #ffffff75;
}

#Analytics-summary-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
  animation: fadeIn 0.75s;
}

.analytics-piece {
  border-radius: 50px;
}

.player-analytics {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.analytics-service-description {
  position: relative;
}

.analytics-service-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/*LiveStream Section Styles*/
#LiveStream-section {
  margin: 2% auto;
  padding: 2%;
  background-color: #fff;
  color: #000;
}

#LiveStream-Talk-heading {
  text-align: center;
}

.live-stream-container {
  text-align: center;
}

.fa-spotify {
  font-size: 4em;
  color: #1ed15f;
}

/*Responsive activity*/
@media screen and (max-width: 700px) {
  #Homepage-main-container {
    animation: none;
    height: 100%;
  }

  #Intro-section {
    height: 60%;
    position: relative;
    color: #fff;
  }

  #Article-summary-container, #Analytics-summary-container {
    display: grid;
    grid-template-columns: none;
    margin: 0 auto;
    padding: 2%;
    animation: fadeIn 0.75s;
  }
  
  #Analytics-summary-container{
    grid-template-rows: 50% 50%;
  }

  .article-piece {
    display: grid;
  }

  .article-service-description, .analytics-service-description {
    position: static;
  }

  .article-service-container, .analytics-service-container{
    position: static;
    transform: none;
    width: 100%;
  }

  .player-analytics {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }
}
