/*Footer Styling*/
/*homepage-footer*/
#home-footer{
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2%;
}

/*global search page footer*/
/*Footer Styling*/
#search-footer{
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-list{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  list-style-type: none;
}
  