/*Footer Styling*/
/*homepage-footer*/
#home-footer{
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 0.6rem;
}

@media screen and (max-width: 425px) {
  #home-footer{
    display: none;
  }

  #search-footer{
    display: none !important;
  }

  #club-footer{
    display: none;
  }
}

/*global search page footer*/
/*Footer Styling*/
#search-footer{
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.6rem;
}

#club-footer{
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.5rem;
}

#footer-list{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  list-style-type: none;
}
  