#main-content-admin{
    padding: 1%;
    height: 100%;
    background: #f3f3f3;
}

#videos-articles-wrapper{
    margin: 0 auto;
    display: flex;
    height: 100%;
    max-width: 1300px;
}

/*Styles focusing on video wrapper and children only*/
.videos-wrapper{
    width: 75%;
}

.videos-latest, .articles-latest{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.videos-latest{
    max-width: 850px;
}

.top-video{
    height: 65%;
    position: relative;
    cursor: pointer;
}

.sub-videos{
    height: 35%;
    width: 100%;
    cursor: pointer;
}

.video{
    display: flex;
    margin-top: 1.5%;
}

.sub-video-bannerImage-wrapper{
    width: 20%;
    border-radius: 10px;
    position: relative;
}

.videoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.videoInfo{
    width: 80%;
    padding: 1%;
}

.sub-video-imageBanner{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#bannerVideo{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bannerVideo-text{
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.hideBanner{
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.videoImage{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .4s;
}

.bannerVideo-text:hover .videoImage{
    display: block;
    margin: auto;
    width: 102%;
    height: 102%;
}

.bannerVideo-heading{
    transition: .4s;
}

.bannerVideo-heading:hover{
    transform: scale(1.03);
}

.video-player{
    margin: 0 auto;
    width: 10%;
    padding: 2%;
    background: red;
    border-radius: 100%;
}

/*ensuring that the banner video Image comes first*/
.videoOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #28262670;
    border-radius: 10px;
}

.videoOverlayText{
    width: 70%;
}

.sub-video-player{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-play{
    color: #fff;
}




/*Styles focusing on article wrapper and children only*/
.articles-wrapper{
    width: 25%;
}

.articles-latest{
    margin: 0;
}

.top-article{
    height: 35%;
    position: relative;
}

.sub-articles{
    height: 65%;
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

.articlesBannerImage{
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.articlesBannerImage-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #fff;
}

.image{
    margin-top: 2%;
}

.sub-image-bannerImage-wrapper{
    height: 100%;
    position: relative;
}

.sub-image-imageBanner{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.imageInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #fff;
}