#admin-main-content{
    display: flex;
    justify-content: end;
    height: 100%;
    position: relative;
    background: #474bff;
    background: -webkit-linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

/*background attachment here ensures that the divs background gradient stays fixed*/
#videos-articles-section{
    height: 100%;
    width: 80%;
    max-width: 1300px;
    background: #474bff;
    background: -webkit-linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    background-attachment: fixed;
}

.videos-articles-main-container{
    display: flex;
    gap: 2%;
    padding: 1.3%;
    background: #474bff;
    background: -webkit-linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

/*Styles focusing on video wrapper and children only*/
.videos-wrapper{
    width: 75%;
    padding: 1%;
    border-radius: 5px;
    background: #fff;
}

#articles-main-heading, #videos-main-heading{
    padding: 0.5% 0;
    text-align: center;
    color: #1818a7;
}

.videos-latest, .articles-latest{
    width: 90%;
    margin: 0 auto;
}

.videos-latest{
    max-width: 850px;
}

.top-video{
    height: 65%;
    position: relative;
    cursor: pointer;
}

.sub-videos{
    width: 100%;
    cursor: pointer;
}

.video{
    display: flex;
    padding-top: 1.5%;
}

.sub-video-bannerImage-wrapper{
    width: 20%;
    border-radius: 10px;
    position: relative;
}

.videoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.videoInfo{
    width: 80%;
    padding: 1%;
    color: #fff;
}

.videoInfoHeading{
    color: #000;
}

.videoInfoHeading:hover{
    text-decoration: underline;
}

.f-articles{
    color: #005aff;
    font-size: 1.1rem;
    padding-right: 1%;
}

.sub-video-imageBanner{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#bannerVideo{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bannerVideo-text{
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.hideBanner{
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.videoImage{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;
}

/*102% width and height to ensure the image grows beyond its normalities, but still hides the overflow content*/
.bannerVideo-text:hover .videoImage{
    display: block;
    margin: auto;
    width: 102%;
    height: 102%;
}

.bannerVideo-heading{
    transition: .4s;
}

.bannerVideo-heading:hover{
    transform: scale(1.03);
}

.video-player{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    padding: 2%;
    background: #ff008d;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ensuring that the banner video Image comes first*/
.videoOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #00317059;
    border-radius: 10px;
}

.videoOverlayText{
    width: 70%;
}

.sub-video-player{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-play{
    color: #fff;
}




/*Styles focusing on article wrapper and children only*/
.articles-wrapper{
    position: relative;
    width: 25%;
    border-radius:5px;
    background: #fff;
}

.articles-latest{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-article{
    position: relative;
    cursor: pointer;
}

.sub-articles{
    cursor: pointer;
}

.articlesBannerImage{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.articlesBannerImage-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #00317059;
    border-radius: 10px;
}

#bannerImage-heading{
    transition: .4s;
}

#bannerImage-heading:hover{
    transform: scale(1.03);
    text-decoration: underline;
}

.image{
    margin-top: 10%;
}

.imageInfoHeading:hover{
    text-decoration: underline;
}

.sub-image-bannerImage-wrapper{
    height: 100%;
    position: relative;
}

.sub-image-imageBanner{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.imageInfo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #00317059;
    border-radius: 10px;
}








/*RESPONSIVE ACTIVITY*/








/*ASIDE element main Styling*/
