.root-elem{
    background: #1e1d32;
}

#Main-Search-player-container{
    height: 90%;
    display: flex;
    justify-content: center;
}

/*Search Container Styles*/
#search-container{
    width: 50%;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    height: 95%;
    margin-top: 2.5%;
}

#search-input-wrapper{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form{
    text-align: center;
    width: 100%;
}

.search-field, .submit-search{
    display: inline;
    margin: 0 auto;
    color: #fff;
}

.search-field, .search-field:focus{
    background: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid gray;
    padding: 2%;
    outline: none;
    font-size: 1.03rem;
    font-weight: bold;
}

.submit-search{
    padding: 2%;
    background: #ff009c;
    border-radius: 7px;
    font-weight: bold;
}

.submit-search:hover{
    cursor: pointer;
}

#searched-player{
    height: 90%;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.searched-player-image-wrapper{
    background: #e4e6e7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

#searched-player > div{
    width: 95%;
    margin: 0 auto;
}

/*overwriting the above rule #searched-player > div{} so that the searched player summary's height can fit its content*/
.searched-player-summary{
    background: linear-gradient(90deg, #ff00e2 0%, #ff008e 100%);
    color: #fff;
    padding-left: 2%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: fit-content;
}

.searched-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.player-searched-info{
    font-weight: lighter;
}

.player-name, .player-dOb, .player-nationality, .player-position{
    font-weight: bold;
}