/*Navbar position style oevrwrite*/
#nav-search{
    position: -webkit-sticky;
    position: sticky;
}

/*Players-club-pages-section styles*/
#Players-club-pages-section-full{
    display: grid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    transition: .5s;
}

#Players-club-pages-section-half{
    display: grid;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    max-height: 1500px;
    width: 75%;
    padding: 2%;
    transition: .5s;
}

@media screen and (max-width: 620px) {
    #Players-club-pages-section-full, #Players-club-pages-section-half{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.player-wrapper{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding: 2%;
}

.player-wrapper > div{
    width: 50%;
    color: #fff;
    cursor: pointer;
    background: #b7b7b761;
}


.player-info{
    font-weight: bold;
}


.club-player-img-container{
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.club-player-img-container img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.club-player-description{
    padding-top: 5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


#Player-stats-flex-wrapper{
    display: flex;
    background: #1e1d32;
}

/*aside styles*/
#player-stats-none{
    display: grid;
    max-height: 750px;
    grid-template-rows: 35% 65%;
    width: 0;
    transition: .5s;
}

#player-stats-half{
    display: grid;
    max-height: 750px;
    grid-template-rows: 35% 65%;
    width: 35%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    transition: .5s;
}

#aside-image-wrapper{
    height: 100%;
}

#aside-image-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: -webkit-linear-gradient(0deg, #47ff86 0%, #5248ff 100%);
    background: linear-gradient(0deg, #30bb60 0%, #080448 100%);
}

.stat{
    color: #000;
}

.bar{
    height: 5px;
    background: rgb(161, 161, 161);
}

.meter{
    height: 100%;
    background: red;
    width: 80%;
    animation: barsSlide 2.5s;
}

@keyframes barsSlide {
    from{
        width: 0
    }
    to{
        width: 80%;
    }
}

