#eduactional-content-main-container{
    background: #ededed;
    font-size: 1.1rem;
    font-weight: lighter;
}

#statistics-heading{
    text-align: center;
    padding: 1% 0;
}

#data-coverage{
    width: 85%;
    margin: 0 auto;
}

.data-coverage-heading{
    color: #0089ff;
}

#performance-list{
    list-style-type: none;
}

.list-typeheading{
    font-weight: bold;
}

.style-text{
    line-height: 1.8;
}