#ClubSearch-main-container{
    background: #fff;
    height: 100%;
    position: relative;
}

#Club-options-section{
    min-width: 250px;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    #club-footer{
        position: static;
    }

    .root-elem{
        background: none;
        background: none;
    }
}

#Teams-heading{
    text-align: center;
    color: #000;
}

#clubs-main-wrapper{
    display: grid;
    grid-template-rows: 6.25% 6.25% 6.25% 6.25%;
    padding: 2%;
    border-radius: 10px;
    background: #ffffff45;
    color: #fff;
    font-size: 0.5em;
    background: #37003c;
    background: -webkit-linear-gradient(0deg, #37003c 0%, #00a2c1 100%);
    background: linear-gradient(0deg, #37003c 0%, #00a2c1 100%);
}

.club-info-wrapper{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.club-image-container{
    border-right: 2px solid #fff;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-badge, .league-image{
    display: block;
    width: 50%;
}

.team-name-wrapper, .league {
    display: flex;
    justify-content: center;
    align-items: center;
}

.league{
    padding: 10%;
    border-left: 2px solid #fff;
    margin-bottom: 2%;
}
