#ClubSearch-main-container{
    background: #1e1d32e8;
}

#Club-options-section{
    background: #1e1d32e8;
}

.club-options-container{
    min-width: 250px;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    #club-footer{
        position: static;
    }
}

@media screen and (max-width: 900px) {
    #ClubSearch-main-container{
        height: 100%;
        position: relative;
    }

    #club-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#Teams-heading{
    text-align: center;
    color: #fff;
}

#clubs-main-wrapper{
    display: grid;
    grid-template-rows: 6.25% 6.25% 6.25% 6.25%;
    padding: 2%;
    background: #ffffff45;
    color: #000;
    font-size: 1.1rem;
    background: #ffff;
}

@media screen and (max-width: 425px) {
    #clubs-main-wrapper{
        font-size: 0.5rem;
    }
}

.club-info-wrapper{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.club-image-container{
    border-right: 2px solid #fff;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-image-container img{
    transition: .4s;
}

.club-image-container img:hover{
    transform: scale(1.1);
}

.club-badge, .league-image{
    display: block;
    width: 50%;
}

.team-name-wrapper, .league {
    display: flex;
    justify-content: center;
    align-items: center;
}

.league{
    padding: 10%;
    border-left: 2px solid #fff;
    margin-bottom: 2%;
}

.name-title{
    transition: .4s;
}

.name-title:hover{
    text-decoration: line-through;
}
