/*Global Keyframes*/
@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.root-elem{
    background: #fff;
}

/*Articles sections styles*/
#Articles-main-container{
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    height: 100%;
}

#Articles-section{
    height: 50%;
    display: flex;
    column-gap: 2%;
    justify-content: center;
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

.Article{
    height: 100%;
    width: 30%;
    background: #ffffff5c;
    position: relative;
    overflow: hidden;
    line-height: 2;
    font-weight: lighter;
}

#articles-section-main-heading{
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 820px) {
    #Articles-section{
        height: 100%;
        row-gap: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
    }

    .Article{
        width: 84%;
    }
    
    #all-videos{
        flex-direction: column;
    }

    #videos-section{
        height: auto !important;
        
    }

    .video-display{
        width: 90%;
        margin: 0 auto;
        font-size: 0.75rem;
    }

    .player{
        font-size: 1.5rem !important;
    }
}

.article-bannerImg-wrapper{
    height: 100%;
    position: relative;
    animation: slideIn 1s;
}

.article-bannerImg-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.article-summary-wrapper{
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: #06065082;
    padding-left: 5%;
}

.summary-animation{
    padding: 2% 10%;
    animation: slideIn 1s;
}

/*Podcast Section Styles*/
#articles-podcasts-image-wrapper{
    height: 55%;
    position: relative;
    font-size: 1.8rem;
}

#overlay-articles-podasts{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #1e1d32;
    background: linear-gradient(0deg, #000000d1, transparent);
}

#podcasts-section{
    background: #1e1d32;
    color: #fff;
    padding: 1% 0;
    height: 85%;
}

#podcasts-heading{
    text-align: center;
    height: 10%;
}

#container-podcasts-latest{
    height: 90%;
}

.fa-pen-to-square, .fa-house, .fa-magnifying-glass, .fa-newspaper{
    color: #fff;
    font-size: 0.8rem;
}

.fa-podcast{
    color: #1ed15f;;
}

.first-top-main-podcast{
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 100%;
}

.podcast-sec-image{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.sub-top-main-podcasts{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    padding: 0 2%;
}

.podcast-sub{
    cursor: pointer;
    transition: .7s;
    border-bottom: 1px solid white;
}

.sub-main-podcast-image-wrapper{
    height: 50%;
}

.sub-main-podcast-image-wrapper img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 15px;
}

.sub-podcast-article-heading a, a:visited{
    color: #d30d7a;
    padding-top: 2%;
    line-height: 1.3;
    text-decoration: underline;
}

.host{
    color: #fff;
}

/*Responsive activity of Podcasts section*/
@media screen and (max-width: 500px) {
    .sub-top-main-podcasts{
        max-height: none;
        grid-template-columns: none;
        grid-template-rows: 30% 25% 25% 25%;
        font-size: 0.8rem;
    }
}

/*Videos section styles*/
#videos-section{
    padding-top: 2%;
    height: 50%;
    color: #fff;    
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

#all-videos{
    height: 90%;
    margin: 0 auto;
    width: 96%;
    display: flex;
    justify-content: center;
}

.videos-main-heading{
    height: 10%;
    text-align: center;
}

.video-display{
    padding: 1.5%;
    height: 100%;
}

.video-wrapper{
    position: relative;
    height: 100%;
}

.bannerVideo{
    object-fit: cover;
}

.video-user-overlay{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background: #00000061;
}

.video-user-overlay-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-video-image-overlay{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000061;
    text-align: center;
}

.hideVideoOverlay{
    display: none;
}
.player{
    color: #ff008d !important;
}