#Articles-main-container{
    height: 100%;
}

/*Articles Top5 section styles*/
/*making everything in section take height of grid*/
#Articles-Top5-section{
    display: grid;
    grid-template-rows: 100%;
    background-color: #fff;
    padding: 1% 0;
}

#container-top-5{
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

/*change display type from tablets down*/
@media screen and (max-width: 768px) {
    #container-top-5{
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .first-top-main-article{
        border-right: none !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 950px){
    #Articles-Top5-section{
        height: 100%;
    }
}


.first-top-main-article{
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 100%;
    border-right: 2px solid gray;
}

.top-main-article-image-wrapper{
    padding: 2%;
}

.top-main-article-image-wrapper, .top-main-article-text-wrapper{
    text-align: center;
}

.article-sec-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-top-main-articles{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0 2%;
}
.sub-main-article-text-wrapper:hover{
    cursor: pointer;
}

.article-sub-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 2% 0;
}

.article-sub-sec-image{
    display: block;
    width: 80%;
    height: auto;
}

.article-sub-sec-image, .article-sec-image{
    border-radius: 5px;
}

