.root-elem{
    background: #fff;
}

#article-main-heading{
    text-align: center;
    color: #fff;
    padding: 1% 0;
}

#Articles-main-container{
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    height: 100%;
}

#Articles-section{
    height: 75%;
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

#all-articles{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    min-width: 250px;
}

.article-bannerImg-wrapper{
    height: 100%;
    position: relative;
    animation: slideIn 1s;
}

.article-bannerImg-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.article-summary-wrapper{
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: #06065082;
    border-radius: 10px;
}

.article-summary-heading{
    padding: 2% 10%;
    animation: slide 1s;
}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0deg);
    }
}

.summary-animation{
    padding: 2% 10%;
    animation: slideIn 1s;
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.Article{
    height: 90%;
    background: #ffffff5c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#next, #prev{
    position: absolute;
    padding: 2%;
    color: #fff;
    border-radius: 2px;
    border: none;
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    cursor: pointer;
    z-index: 1;
}

#prev{
    top: 50%;
    left: 0;
}

#next{
    top: 50%;
    right: 0;
}



/*Podcast Section Styles*/
@keyframes headingAnimate {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

#articles-podcasts-image-wrapper{
    height: 55%;
    position: relative;
    font-size: 1.8rem;
}

#overlay-articles-podasts{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #1e1d32;
    background: linear-gradient(0deg, #000000d1, transparent);
}

#podcasts-section{
    background: #1e1d32;
    color: #fff;
    padding: 1% 0;
    height: 85%;
}

#podcasts-heading{
    text-align: center;
    height: 10%;
}

#container-podcasts-latest{
    height: 90%;
}

.fa-pen-to-square, .fa-house, .fa-magnifying-glass, .fa-newspaper{
    color: #fff;
    font-size: 0.8rem;
}

.fa-podcast{
    color: #1ed15f;;
}

.first-top-main-podcast{
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 100%;
}

.podcast-sec-image{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.sub-top-main-podcasts{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    padding: 0 2%;
}

.podcast-sub{
    cursor: pointer;
    transition: .7s;
    border-bottom: 1px solid white;
}

.sub-main-podcast-image-wrapper{
    height: 50%;
}

.sub-main-podcast-image-wrapper img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 15px;
}

.sub-podcast-article-heading a, a:visited{
    color: #d30d7a;
    padding-top: 2%;
    line-height: 1.3;
    text-decoration: underline;
}

.journalist{
    line-height: 1.4;
    color: #000;
    font-weight: bol;
}

.host{
    color: #fff;
}

/*Responsive activity of BOTH Articles and Podcasts section*/
@media screen and (max-width: 500px) {
    #main-articles{
        max-height: none;
        display: block;
        padding-bottom: 12%;
    }

    .sub-top-main-podcasts{
        max-height: none;
        grid-template-columns: none;
        grid-template-rows: 30% 25% 25% 25%;
    }

    #host-line-break{
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 1024px)  {
    #main-articles{
        display: grid;
        grid-gap: 1%;
        width: 90%;
        max-height: 800px;
        margin: 0 auto;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        padding: 2% 0;
    }

    .a-7{
        grid-column: 2/4;
    }
}


#videos-section{
    height: 50%;
    color: #fff;    
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
}

#all-videos{
    height: 100%;
}

.videos-main-heading{
    height: 10%;
    text-align: center;
}

.video{
    height: 90%;
    display: flex;
    justify-content: center;
}

.video-wrapper{
    position: relative;
}

#nextVid, #prevVid{
    position: absolute;
    padding: 2%;
    color: #fff;
    border-radius: 2px;
    border: none;
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    cursor: pointer;
    z-index: 1;
}

#prevVid{
    top: 50%;
    left: 0;
}

#nextVid{
    top: 50%;
    right: 0;
}
