/*Admin modal*/
#hideModal{
    display: none;
}

#showAdminModal{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 2;
}

.admin-form-container{
    width: 100%;
    height: 100%;
    background-color: #00000094;
    color: #fff;
    overflow-y: scroll;
    position: relative;
}

.admin-form-container::-webkit-scrollbar{
    width: 10px;
    height: 100px;
    background-color: #fff;
    color: #fff;
}

.admin-form-container::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}

#GKForm, #DEFForm, #MIDForm, #WINGForm, #STForm{
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

#form-main-content{
    display: flex;
    justify-content: space-evenly;
    column-gap: 5%;
}

#position-heading{
    text-align: center;
}

.form1, .form2, .form3{
    width: 33.33%;
}

#GKForm input, #DEFForm input, #MIDForm input, #WINGForm input, #STForm input{
    display: block;
    margin: 2% auto;
    padding: 2.5%;
    background: #fff;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    font-size: 0.9rem;
}

#GKForm label, #DEFForm label, #MIDForm label, #WINGForm label, #STForm label{
    font-weight: 450;
}

#GKForm input:focus, #DEFForm input:focus, #MIDForm input:focus, #WINGForm input:focus, #STForm input:focus{
    border-left: 10px solid rgba(0, 0, 255, 0.514);
}

#GKForm input::placeholder, #DEFForm input::placeholder, #MIDForm input::placeholder, #WINGForm input::placeholder, #STForm input::placeholder{
    color: #000;
    font-weight: 500;
}

#playerSubmit{
    padding: 1% !important;
    color: #000;
    background: #fff;
    font-weight: bolder;
    cursor: pointer;
}

/*styling the colse modal button*/
#closeAdminModal{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 3%;
    height: 4%;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

#position-select{
    background: #474bff;
    background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 450;
    cursor: pointer;
    outline: none;
    margin-right: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.position-option{
    cursor: pointer;
    color: #fff;
    background: #474bff;
    font-size: 1.1rem;
    font-weight: 550;
}

@media screen and (max-width: 600px) {
    .admin-form-container{
        font-size: 0.7rem;
    }
    
    #GKForm, #DEFForm, #MIDForm, #WINGForm, #STForm{
        width: 100%;
    }

    #position-select{
        top:auto;
        bottom: 0;
    }

    #closeAdminModal{
        right: 2%;
        width: 6.5%;
    }
}