/*Navbar Styles*/
/*navbar in homepage*/
#nav-home{
  position: fixed;
  width: 100%;
  top: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b3b3b34d;
  color: #fff;
  z-index: 2;
}

/*navbar in global search page*/
#nav-search{
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b3b3b34d;
  color: #fff;
  z-index: 2;
}

#navbar-items {
  height: 80%;
  width: 90%;
  display: flex;
  gap: 50%;
}

.nav-logo {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
}

#nav-list-items {
  display: flex;
  list-style-type: none;
}

#nav-list-items .list-item a, #nav-list-items .list-item a:visited{
  color: black;
  text-decoration: none;
}

.list-item {
  margin: 0 3%;
  background: #fff;
  padding: 1.5%;
  transition: .5s;
  border-radius: 2px;
}

.li-1:hover, .li-2:hover, .li-3:hover{
  opacity: 0.7;
}

@media screen and (max-width: 520px) {
  .nav-list {
    display: none;
  }
}
